.reviewModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: white;
    position: absolute;
    border-radius: 5%/10%;
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    align-items: center;
}

.modal_content section {
    text-align: left;
    padding-bottom: 2%;
}

.modal_content button {
    background-color: #e6d7ff;
    height: 2rem;
    border-radius: 100vmax;
    width: 10rem;
    border: solid thin;
    margin-bottom: 2%;
}

.close {
    cursor: pointer;
}
.modal_content button:hover {
    background-color: grey;
}

.invoicePageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    row-gap: 3rem;
    padding-left: 10%;
}

.invoicePageContainer section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}

.dueDate label{
    margin-bottom: 4%;
}

.searchField {
    cursor: pointer;
    border: none;
    width: 100%;
}

.searchbox {
    border-style:solid;
    border-width:thin;
    max-width: 100%;
    width: 100%;
    padding: 0 5%;
}

.optionalSetting{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 6%;
}

.optionCheckboxContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

.searchResults {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    text-indent: 0;
    padding-left: 0;
}

.resultsRow {
    display: flex;
    flex-direction: row;
    padding: 1% 2%;
    width: 100%;
    justify-content: space-between;
}

.resultsRow:hover {
    background-color: whitesmoke;
}

.column {
    text-align: left;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}
.invoicePageContainer button {
    background-color: #e6d7ff;
    height: 2rem;
    border-radius: 100vmax;
    width: 10rem;
    border: solid thin;
}

.invoicePageContainer button:hover {
    background-color: grey;
}

#dueDate {
    padding: 1% 2%;
    cursor: pointer;
}

@media only screen and (mid-width: 768px) {
    
}