.stepToggle {
    width: 100%;
    border: thin solid;
}

.stepToggle  thead {
    background-color: #5D7C99;
}
.listBody tr:nth-child(even) {
    width: 100%;
    background-color: #5D7C99;
}

.rowHeader {
    font-size: 140%;
}

.overviewContainer {
    display: flex;
    flex-direction: column;

}.overviewContainer h2 {
    padding-top: 2%;
}
.overview {
    margin: auto;
    width: 80%;
    border: medium solid;
}

.overview tr {
    border-bottom: thin solid;
}
.step_header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.step_header h2 {
    text-align: left;
    margin-left: 1%;
    top: 50%;
}

.adminNotifications {
    display: flex;
    margin-right: 1%;
    flex-direction: row;
    align-items: center;
    font-size: 150%;
    justify-content: space-between;
    width: fit-content;
}

.newUpload {
    margin-right: 1%;
    color: orangered;
    display: inline;
}

.customerCount {
    margin: 0 5%;
}