.overview {
    margin: auto;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    row-gap: 10px;
}

.step_header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF4F2;
}

.step_header h2 {
    text-align: left;
    margin-left: 1%;
    position: relative;
    top: 50%;
}

.adminNotifications {
    display: flex;
    margin-right: 1%;
    flex-direction: row;
    align-items: center;
    font-size: 150%;
    justify-content: space-between;
    width: fit-content;
}

.newUpload {
    margin-right: 1%;
    color: orangered;
    display: inline;
}

.customerCount {
    margin: 0 5%;
}

.stepToggle {
    background-color: #c8a2c8;
}

.row {
    display: flex;
    flex-direction: row;
    width: auto;
    text-align: left;
}

.row p {
    width: 25%;
}

.row li {
    padding-left: 0;
    text-align: left;
    background-color: blueviolet;
}

li {
    padding-left: 0;
}

.rowHeader h3 {
    width: 25%;
    font-size: 140%;
    display: inline;
}