.adminPortal {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.adminNavigation {
    order: 1;
    width: 20%;
    max-width: 250px;
}

.adminNavigation ul {
    max-height: 100%;
}
.adminNavigation ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

.adminNavigation ul li:nth-child(odd) {
    background-color: #5D7C99;
} 
.adminNavigation ul a {
    color: black;
    text-decoration: none;
}
.adminNavigation li:hover {
    color: white;
}

.adminNavigation ul a:hover {
    color: white;
}

.adminNavigation ul li {
    width: 100%;
    padding: 10% 5%;
    font-size: 1.5rem;
}
.adminNavigation ul,li {
    list-style-type: none;
    list-style-position:inside;
}
.currentAdminView {
    order: 2;
    width: 100%;
}