.adminPortal {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
}

.adminNavigation {
    order: 1;
    text-align: left;
}

.adminNavigation ul {
    max-height: 100%;
}

.adminNavigation ul a {
    color: black;
    text-decoration: none;
}

.adminNavigation li {
    width: 100%;
}
.adminNavigation li:hover {
    color: white;
}

.adminNavigation ul a:hover {
    color: white;
}

.adminNavigation li {
    margin: 5% 10%;
    padding: 10% 0;
    font-size: 1.5rem;
}
.currentAdminView {
    order: 2;
    width: 100%;
}