@font-face {
  font-family: 'modern_sansregular';
  src: url('./assets/fonts/moderne_sans_font-webfont.woff2') format('woff2'),
       url('./assets/fonts/moderne_sans_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'modern_sansregular';
}

.App-logo {
  height: 128px;
  width: 128px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #main-logo{
  width: 50px;
  height: 50px;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4em;
  padding: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
}

nav .brandingInfo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
}

nav img {
  border-radius: 50%;
}

nav a:hover {
  color: rgb(55, 55, 59);
}

.progress-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.step {
  width: 14%;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.step1 {
  background-color: red;
  width: 50px;
}

.step2 {
  background-color: #ff6600;
  width: 50px;
}

.step3 {
  background-color: #ff9900;
  width: 50px;
}

.step4 {
  background-color: #ffcc00;
  width: 50px;
}

.step5 {
  background-color: #ffff00;
  width: 50px;
}

.step6 {
  background-color: #ccff33;
  width: 50px;
}

.step7 {
  background-color: green;
  width: 50px;
}

