@font-face {
  font-family: "modern_sansregular";
  src: url("./assets/fonts/moderne_sans_font-webfont.woff2") format("woff2"),
    url("./assets/fonts/moderne_sans_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --lilac_main: #c47cc4;
  --green_alt: #7cc47c;
  --neutral_alt: #c4a07c;
  --blue_alt: #7ca0c4;
}

* {
  box-sizing: border-box;
}
body {
  /*
  background: rgb(196,124,196);
  background: linear-gradient(90deg, rgba(196,124,196,1) 0%, rgba(255,255,255,1) 70%);
  */
  background: rgb(196, 124, 196);
  background: linear-gradient(
    180deg,
    rgba(196, 124, 196, 1) 0%,
    /*rgba(255, 255, 255, 1) 70%*/ /*original white gradient*/
    rgba(255, 231, 255, 1) 70% /*I thought it looked slightly easier on the eyes - Rob*/
  );
  background-attachment: fixed;
  height: 100vh;
}
.App {
  text-align: center;
  font-family: "lato";
}

.App-logo {
  height: 128px;
  width: 128px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.progress-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.step {
  width: 14%;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.step1 {
  background-color: red;
  width: 50px;
}

.step2 {
  background-color: #ff6600;
  width: 50px;
}

.step3 {
  background-color: #ff9900;
  width: 50px;
}

.step4 {
  background-color: #ffcc00;
  width: 50px;
}

.step5 {
  background-color: #ffff00;
  width: 50px;
}

.step6 {
  background-color: #ccff33;
  width: 50px;
}

.step7 {
  background-color: green;
  width: 50px;
}

/**** Login Page Styling ****/
/* Owner Dashboard Page */

.ownerDashboard {
  position: relative;
  width: 1440px;
  height: 1247px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(243, 247, 240, 0.2) 100%
    ),
    #c8a2c8;
}

/****** Progress Bar related Styling ******/
.progress-bar {
  margin: auto;
  border-radius: 1rem;
  background-color: lavender;
  padding-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.horizontal {
  margin-top: 5%;
}

/*Back and Next button*/
.step-control {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.step-control button {
  border: 2px outset #718096;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.step-control button.back {
  color: #4a5568;
  background-color: #fff;
}

.step-control button.back:hover {
  background-color: #2d3748;
  color: #fff;
}

.step-control button.next {
  background-color: #48bb78;
  color: #fff;
}

.disabled-next-button {
  cursor: not-allowed;
  border: 2px outset #718096;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}

.step-control button.next:hover {
  background-color: #2f855a;
}

.disabled-back-button {
  cursor: not-allowed;
  border: 2px outset #718096;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}

/* Step Related Styling */
.step-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display1-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4dc0b5;
}

.displayNum-container {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
  height: 1.9rem;
  width: 3rem;
  /* border: 2px solid #ccc; */
  border-radius: 100%;
  color: darkorchid;
  position: relative;
  z-index: 0;
}
.displayNumSelected-container {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
  height: 1.9rem;
  width: 3rem;
  border: 2px solid;
  border-radius: 100%;
  position: relative;
  z-index: 0;
}
.displayNumSelected1-container {
  border: none;
  background: none;
}
.displayNumSelected2-container {
  /* background-color: #059669;
  color: #ffffff;
  border-color: #059669; */
  border: none;
  background: none;
}
.displayNumSelected3-container {
  /* background-color: #059669;
  color: #ffffff;
  border-color: #059669; */
  border: none;
  background: none;
}
.displayNumSelected4-container {
  /* background-color: #059669;
  color: #ffffff;
  border-color: #059669; */
  border: none;
  background: none;
}
.displayNumSelected5-container {
  /* background-color: #059669;
  color: #ffffff;
  border-color: #059669; */
  border: none;
  background: none;
}
.displayNumSelected6-container {
  /* background-color: #059669;
  color: #ffffff;
  border-color: #059669; */
  border: none;
  background: none;
}
.displayNumSelected7-container {
  /* background-color: #059669;
  color: #ffffff;
  border-color: #059669; */
  border: none;
  background: none;
}

.displayNum-container:hover {
  /* border-color: #000; */
}

.displayDescription-container {
  position: absolute;
  top: 0;
  margin-top: 4rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  width: 8rem;
  color: gray;
}
.displayDescriptionSelected-container {
  position: absolute;
  top: 0;
  margin-top: 4rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 8rem;
  color: black;
}

.displayLine-container {
  flex: auto;
  border: 2px solid gray;
}
.displayLineSelected-container {
  flex: auto;
  border: 2px solid green;
}

.display-capsule {
  display: flex;
  align-items: center;
  width: 100%;
}
.display-capsule2 {
  display: flex;
  align-items: center;
}

.checkmark {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

/*Main content for each step related styling*/
.step-main-content {
  padding: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/***** PDF Upload Styling *****/
.Upload-container-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 200px;
  margin: auto;
}

.card-pdf {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header-pdf {
  text-align: center;
  margin-bottom: 20px;
}
.card-body-pdf {
  text-align: left;
}
.title-pdf {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.label-pdf {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.info-message-pdf {
  margin-top: 2px;
  font-size: 14px;
  color: #666;
}

.space-between-pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.success-message-pdf {
  font-size: 16px;
  color: green;
}

.error-message-pdf {
  font-size: 16px;
  color: red;
}

.btn-pdf {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pdf:hover {
  background-color: #0069d9;
}

.pdf-btn {
  border: 2px outset #718096;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.pdf-btn:hover {
  background-color: #2d3748;
  color: #fff;
}

/* Parent container to hold the major components */
.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizes its child elements horizontally */
  justify-content: center; /* Centralizes its child elements vertically */
  width: 100%; /* Makes sure the container spans the full width of its parent */
  padding: 20px; /* Adds some padding around the content */
}

.homepagePhoto {
  display: block;
  width: 500px;
  height: 300px;
  border-radius: 10%;
  /* removed the margin-left */
}

.homepageCatchPhrase {
  font-size: x-large;
  width: 22rem;
  text-align: center; /* Centers the text within the element */
  /* removed the margin-left */
}

.homepageLilacColor {
  color: rgba(205, 100, 196, 1);
}

.homepageIntroduction {
  font-size: large;
  width: 50rem;
  text-align: center; /* Centers the text within the element */
  margin-top: 2rem;
  /* removed the margin-left */
}

.homepageContactUs {
  background-color: transparent;
  font-family: "modern_sansregular";
  font-size: 12px;
  border-radius: 5px;
  padding: 10px 20px; /* Added padding to give the button more presence */
  /* removed the margin-left */
}


.homepageContactUs:active {
  background-color: rgba(205, 100, 196, 1);
}

.homepageContactUs:hover {
  background-color: rgba(205, 100, 196, 1);
}

.openImageButton {
  width: 12px;
  height: 12px;
}

.openImageButton:hover {
  cursor: pointer;
}

.openImageButton:active {
  width: 15px;
  height: 15px;
}

.expandableRow {
  margin: auto;
  border-radius: 1rem;
  background-color: lavender;
  padding-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

