@font-face {
  font-family: "modern_sansregular";
  src: url("./assets/fonts/moderne_sans_font-webfont.woff2") format("woff2"),
    url("./assets/fonts/moderne_sans_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --lilac_main: #c47cc4;
  --green_alt: #7cc47c;
  --neutral_alt: #c4a07c;
  --blue_alt: #7ca0c4;
}

* {
  box-sizing: border-box;
}
body {
  /*
  background: rgb(196,124,196);
  background: linear-gradient(90deg, rgba(196,124,196,1) 0%, rgba(255,255,255,1) 70%);
  */
  background: rgb(196, 124, 196);
  background: linear-gradient(
    180deg,
    rgba(196, 124, 196, 1) 0%,
    /*rgba(255, 255, 255, 1) 70%*/ /*original white gradient*/
    rgba(255, 231, 255, 1) 70% /*I thought it looked slightly easier on the eyes - Rob*/
  );
  background-attachment: fixed;
  height: 100vh;
}
.App {
  text-align: center;
  font-family: "lato";
}

.App-logo {
  height: 128px;
  width: 128px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/**** Login Page Styling ****/
/* Owner Dashboard Page */


/* Parent container to hold the major components */
.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizes its child elements horizontally */
  justify-content: center; /* Centralizes its child elements vertically */
  width: 100%; /* Makes sure the container spans the full width of its parent */
  padding: 20px; /* Adds some padding around the content */
}

.homepagePhoto {
  display: block;
  width: 500px;
  height: 300px;
  border-radius: 10%;
  /* removed the margin-left */
}

.homepageCatchPhrase {
  font-size: x-large;
  width: 22rem;
  text-align: center; /* Centers the text within the element */
  /* removed the margin-left */
}

.homepageLilacColor {
  color: rgba(205, 100, 196, 1);
}

.homepageIntroduction {
  font-size: large;
  width: 50rem;
  text-align: center; /* Centers the text within the element */
  margin-top: 2rem;
  /* removed the margin-left */
}

.homepageContactUs {
  background-color: transparent;
  font-family: "modern_sansregular";
  font-size: 12px;
  border-radius: 5px;
  padding: 10px 20px; /* Added padding to give the button more presence */
  /* removed the margin-left */
}


.homepageContactUs:active {
  background-color: rgba(205, 100, 196, 1);
}

.homepageContactUs:hover {
  background-color: rgba(205, 100, 196, 1);
}

.openImageButton {
  width: 12px;
  height: 12px;
}

.openImageButton:hover {
  cursor: pointer;
}

.openImageButton:active {
  width: 15px;
  height: 15px;
}

.expandableRow {
  margin: auto;
  border-radius: 1rem;
  background-color: lavender;
  padding-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

