#contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}