a {
    text-decoration: none;
  }
  

.currentSelection{
    position: inherit;
    display: inline;
    justify-self: left;
    text-align: left;
    padding-left: 50px;
    line-height: 75px;
}

.userName{
    display: inline;
    align-content: right;
}

.sidebar{
    height: 35vw;
    width: 10vw;
    position: left ;
    min-width: 200px;
    min-height: 600px;

    background-color:lavender;
    text-align: center;
}
.body{
    position: right;
    background-color: whitesmoke;
    object-fit: fill;
    width: 60vw;
    height: 35vw;
    min-height: 600px;
    min-width: 800px;
}

.sideHeader{
    position: relative;
    width: 10vw;
    height: 40px;
    line-height: 40px;
    background-color: #5D7C99;
    align-self:stretch;
    color: whitesmoke;
    white-space: nowrap;
    min-width: 200px;
}

.sideSelection{
    position: relative;
    width: 10vw;
    height: 40px;
    line-height: 40px;
    align-self:stretch;
    white-space: nowrap;
    min-width: 200px;
}

