.container a {
    text-decoration: none;
    color: black;
}

#portalbody {
    width: 100%;
    height: 46vw;
    background-color: lavender;
    border-radius: 1rem;
}
.container {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 1%;
  }

.currentSelection{
    justify-self: left;
    text-align: left;
    padding-left: 50px;
    line-height: 75px;
}

.userName{
    display: inline;
    align-content: right;
}

.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 600px;
    background-color:lavender;
    height: 46vw;
    border-radius: 1rem;
}

.sideHeader{
    justify-content: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #5D7C99;
    color: whitesmoke;
    white-space: nowrap;
}

.sideSelection{
    max-width: 100%;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
}

