section.login-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 50px;
  background: linear-gradient(rgba(208, 150, 208, 255) 60%, #ffffff);
  height: 85%;
}

section.login-form h1 {
  color: rgb(241, 241, 241);
  font-size: 50px;
}

section.login-form form {
  width: 250px;
  margin-bottom: 50px;
}

section.login-form form label {
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

section.login-form form input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-radius: 20px;
  transition: 0.8s;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  outline: none;
  border: 0px;
}

section.login-form form button {
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  background: linear-gradient(#b76e79, #c97ab8);
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

 section.login-form button {
  font-size: 12px;
  font-weight: 700;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  background: linear-gradient(#b76e79, #c97ab8);
  width: 20%;
  margin: auto;
  margin-top: 60px;
}