.header{
    height: 40px;
    line-height: 50px;
    background-color: #435b72;
    color:whitesmoke;
}
.inboxContainer {  
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 1.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .inboxList {
    grid-area: 1 / 1 / 4 / 2;
    background-color:#dfe7f0;
    line-height: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: grey;
  }

    .inboxSelection {
      border-bottom: solid;
      border-bottom-color: grey;
      border-bottom-width: 1px;
      width: 100%;
      overflow: hidden;
    }
  
    .inboxSelection:hover {
      background-color: #a1b3c9;
    }

    .inboxSelection:focus{
      background-color: rgb(219, 206, 210);
    }
  
  .messageList {
    grid-area: 1 / 2 / 4 / 3;
    height: 100%;

    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;

    overflow: scroll;
  }

  .messageToolbar{
    display: grid;
    grid-area: messageContent;
    grid-auto-flow: column;
    max-height: 35px;

    background-color: rgb(235, 235, 235);
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-width: 1px;
  }
  .toolbarSelection{
    text-overflow: ellipsis;
    overflow: hidden;
  }

    .toolbarSelection:hover {
      background-color: rgb(219, 206, 210);
    }

    .toolbarSelection:disabled{
      background-color: lightgray;
      color:gray;
    }
  
  .messageContainer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "messageHeader messageHeader messageHeader"
      "messageContent messageContent messageContent"
      "messageContent messageContent messageContent";
    grid-area: 1 / 3 / 4 / 4;
    height: 100%;
    width:100%;
  }

  .composeContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "composeTop"
      "composeBody"
      "composeFooter";
    background-color: rgb(223,
      231,
      240);
  }

  .composeTop {
    grid-area: composeTop;
  }

  .composeBody {
    grid-area: composeBody;
  }

  .composeFooter {
    grid-area: composeFooter;
  }
  
  .select input {
  font-family: Arial, Helvetica, sans-serif;
  
      }
  .messageHeader {
    grid-area: messageHeader;
    width: 100%;
    height: 100%;

    background-color: rgb(235, 235, 235);
    line-height: 35px;
    font-family:Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
  }
  
  .messageContent {  
    display: grid;
    padding: 5%;
    padding-top: 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: messageContent;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);

    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    text-overflow: clip;
    overflow: scroll;
  }

  .messageContent pre {
    white-space: pre-wrap;
    word-wrap: break-word;
        font-family: Arial, Helvetica, sans-serif;
  }

  .composeMessage {
    border-bottom: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    background-color: #5D7C99; 
    color: white;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .composeMessage:hover{
    background-color:#a1b3c9;

  }

  .sendButton{
    background-color: rgb(93, 124, 153); 
    color: white; 
    width: 25%; 
    height: 100%; 
    border-right-width: 1px;
    border-color: white;
  }
    .sendButton:disabled {
      background-color:rgb(168, 168, 168);
      color: white;
        width: 25%;
        height: 100%;
        border-right-width: 1px;
        border-color: white;
    }
  
  .messageSelection {
    width: 100%;
    height: 86px;
    text-align: left;
    padding-left: 2px;
    border-bottom: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    overflow: hidden;
  }

  .messageSelection:hover{
    background-color: rgb(219, 206, 210);
  }

  .messageSelection:focus{
    background-color: #a1b3c9;
  }
  
  .searchBar{
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 32px;
    padding: 5px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: grey;
    overflow: hidden;

  }

  
  